

@using EasyTrip.Models.Classes
@model List<Adress>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-lg-12 mt-4">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title text-primary text-left">İletişim </h5>
            <br />
            <td class="text-center">
                <a href="/Contact/Create/" class="btn btn-primary">
                    Yeni İletişim Ekle
                </a>
            </td>
            <div class="table-responsive">
                <table class="table table-hover table-striped align-middle">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th scope="col" class="text-center">Başlık</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Adres</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Konum</th>





                            <th scope="col" class="text-center">Sil</th>
                            <th scope="col" class="text-center">Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var contact in Model)
                        {
                            <tr>
                                <td class="fw-bold">@contact.Title</td>

                                <td class="fw-bold">@contact.Description</td>>
                                <td class="fw-bold">@contact.Address</td>
                                <td class="fw-bold">@contact.Telefon</td>
                                <td class="fw-bold">@contact.Mail</td>
                                <td class="fw-bold"><a href="https://www.google.com/maps?q=@contact.Location" target="_blank">Adresi Göster</a></td>



                                <td class="text-center">
                                    <a href="/Contact/DeleteContact/@contact.AdressId" class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash"></i> Sil
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="/Contact/UpdateContact/@contact.AdressId" class="btn btn-warning btn-sm">
                                        <i class="bi bi-pencil-square"></i> Güncelle
                                    </a>
                                </td>

                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

