@using EasyTrip.Models.Classes
@model List<Adress>


@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>

<body>

    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>İletişim Bilgileri</h3>
                <p>Web sitemiz üzerinden bizimle iletişime geçebilirsiniz. Size daha iyi hizmet verebilmek için, tüm taleplerinizi dikkatle inceliyor ve en kısa sürede geri dönüş yapıyoruz. Hizmetlerimiz hakkında detaylı bilgi almak için lütfen aşağıdaki iletişim bilgilerini kullanın.</p>
            </div>
            <div class="form">
                <form class="cmxform" id="contactForm" method="post">
                    <div>
                        <input type="text" class="textbox" value="Adınız:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Adınız';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="E-posta:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-posta';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Telefon:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telefon';}">
                    </div>
                    <div>
                        <p><span class="read">Gönder</span></p>
                    </div>
                </form>
            </div>
            <div class="form1">
                <div>
                    <textarea value="Mesaj:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mesaj';}">Mesajınızı buraya yazın...</textarea>
                </div>
            </div>
            <div class="clear"></div>
            @foreach (var item in Model)
            {
                <div class="contact-bottom">
                    <div class="contact-left">
                        <div class="contact-add">
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                            <p>@item.Address</p>
                            <p>Telefon:@item.Telefon</p>

                            <p>E-posta: <a href="@item.Mail">@item.Mail</a></p>
                        </div>

                    </div>
                    <div class="contact-map">
                        <iframe src="@item.Location" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="clear"></div>
                </div>
            }

            <div class="clear"></div>
        </div>
    </div>

</body>
</html>
